In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("https://bit.ly/HDSC-StageOneDataset")
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [47]:
df[df["fuel_cost_per_unit_burned"]== 0.0]

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
211,f1_fuel_1994_12_38_0_1,38,1994,connecticut yankee,nuclear,gramsU,652000.0,0.000006,0.0,0.0,0.000
670,f1_fuel_1994_12_146_1_13,146,1994,millstone no. 3,nuclear,gramsU,43006.0,0.000006,0.0,0.0,0.000
671,f1_fuel_1994_12_118_0_1,118,1994,seabrook,nuclear,gramsU,361764.0,0.000006,0.0,0.0,0.000
786,f1_fuel_1994_12_179_0_1,179,1994,seabrook,nuclear,gramsU,177986.0,0.000006,0.0,0.0,0.000
790,f1_fuel_1994_12_179_0_13,179,1994,millstone - unit 3,nuclear,gramsU,55655.0,0.000006,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...
28941,f1_fuel_2018_12_134_1_8,134,2018,hunter unit no. 3,oil,bbl,12340.0,5.796000,0.0,0.0,17.796
29177,f1_fuel_2018_12_120_0_11,120,2018,prairie island,nuclear,gramsU,849683.0,0.111007,0.0,0.0,0.808
29187,f1_fuel_2018_12_120_1_14,120,2018,monticello,nuclear,gramsU,474307.0,0.124409,0.0,0.0,0.787
29514,f1_fuel_2018_12_12_0_4,12,2018,ben french station,oil,bbl,487.0,5.831070,0.0,0.0,9.970
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059000,0.0,0.0,11.680

In [48]:
df["fuel_mmbtu_per_unit"]

0        16.590
1        16.592
2        24.130
3        23.950
4         1.000
          ...
29518     1.059
29519     1.050
29520     1.060
29521    16.108
29522     1.059
Name: fuel_mmbtu_per_unit, Length: 29523, dtype: float64

In [49]:
np.std(df["fuel_mmbtu_per_unit"])

10.600040781504145

In [50]:
df["fuel_mmbtu_per_unit"].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [51]:
from scipy.stats import kurtosis

In [52]:
kurtosis(df["fuel_qty_burned"])

651.2589365474387

In [53]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [54]:
df["fuel_unit"].count()

29343

In [55]:
df["fuel_unit"].isnull().sum()

180

In [60]:
df["fuel_unit"].isnull().sum()/df["fuel_unit"].count() * 100

0.6134342091810653

In [73]:
d_coal=df[df["fuel_type_code_pudl"]=="coal"]

In [87]:
cost_94= d_coal[d_coal["report_year"] == 1994].fuel_cost_per_unit_burned
cost_94.reset_index(drop=True)

0      18.59
1      18.58
2      39.72
3      47.21
4      44.24
       ...
470    37.78
471    38.23
472    40.97
473    39.95
474    39.19
Name: fuel_cost_per_unit_burned, Length: 475, dtype: float64

In [90]:
cost_98=d_coal[d_coal["report_year"] == 1998].fuel_cost_per_unit_delivered
cost_98.reset_index(drop=True)
cost_98

0      19.338
1      19.340
2      26.540
3      26.540
4      30.013
        ...
426    15.035
427    21.386
428    22.691
429    13.596
430    25.128
Name: fuel_cost_per_unit_delivered, Length: 431, dtype: float64

0      NaN
1      NaN
2      NaN
3      NaN
5      NaN
        ..
5708   NaN
5710   NaN
5712   NaN
5714   NaN
5716   NaN
Name: fuel_cost_per_unit_burned, Length: 906, dtype: float64